/*--------------------------------------------*/
#navegador{
 position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    front-size: 16px;
    front-weight: bold;
    padding: 10px 0;
    z-index: 6;
}

#cuadros {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Georgia";
}

#cuadros li {
  min-width: 120px;
  height: 80px;
  line-height: 60px;
  text-align: center;
}


#cuadros li:first-child {
  background-image: url('media/images/LogoDraculaBanner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 80px;
  margin: 0 auto;
}


#rayitalado{
    float: left;
    border-right: 1px solid #bbb;
}

#links{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

#links:hover {
    background-color: #111;
}
details{
        border: 1px solid black;
            font-size: 2vh;

  margin: .5rem;
    background-color: #F3DFC2;/* <-- */
    padding: .5rem;
}
summary{
    
    font-size: 2vh;

        border: 2px solid black;

    background-color: #BB9178;/* <-- */
  margin: .5rem;
    padding: .5rem;
}
#preguntas{
    font-family: "Georgia";
    font-weight:bold;
    align-content: center;
    text-align: center;
    padding: 1vw 16vw;

    z-index: 6;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

/*--------------------------------------------*/

li input {
    padding: 20px 25px;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    text-decoration: none;
    background-color:#535353;
    color: #ffffff;
}

.searchinput::placeholder { 
    color: white;
    opacity: 1; 
  }
  
.searchinput:-ms-input-placeholder { 
    color: white;
  }
  
.searchinput::-ms-input-placeholder { 
    color: white;
  }