h2{
    font-family: monospace;
    font-weight:bold;
    font-size: 25px;
    text-align: center;  
    text-decoration: none;
    color:black;
}
#espacio {
    padding: 50px;
    display: block;
}
/*--------------------------------------------*/
#navegador{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    front-size: 16px;
    front-weight: bold;
    padding: 10px 0;
    z-index: 6;
}

#cuadros {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#cuadros li {
    min-width: 120px;
    height: 80px;
    line-height: 60px;
    text-align: center;
}


#cuadros li:first-child {
  background-image: url('media/images/LogoDraculaBanner.png');
  background-position: center;
  width: 120px;
  height: 80px;
}


#rayitalado{
    float: left;
    border-right: 1px solid #bbb;
}

#links{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#links:hover {
    background-color: #111;
}

/*--------------------------------------------*/

#campaña{
    font-family: monospace;
    font-weight:bold;
    font-size: 15px;
    text-align: center;
    
    background-color: #333;
    color:white;

    width: 15%;
    padding: 16px 16px;

    position: fixed;
    right: 0px;
    top: 30px;/*120 abajo*/
    z-index: 6;
cursor: pointer;
}

#navegadorC{
    border-top: 1px solid #bbb;
    margin: 0;
    padding: 0;
}

#linkN{
    display: block;
    overflow: hidden;
    color: white;
    text-align: center;
    right: 120px;
    padding: 5px 5px;
    text-decoration: none;
}

/*--------------------------------------------*/

#grito {
    color: #644400;
    font-size: 20px;
    font-family: monospace;
    font-weight:bold;
}

/*--------------------------------------------*/
#TablaContribuciones{
    font-family: monospace;
    font-size: 15px;
    text-align: center;

    width: 600px;
    padding: 16px 16px;
    margin: auto;
}
th{ /*COLORES A CAMBIAR POR UNOS Q PEGUEN MÁS*/
    border: 1px solid black;
    padding: 5px 5px;
    color: white;/* <-- */
    background-color: #BB9178;/* <-- */
}
td{
    border: 1px solid black;
    padding: 5px 5px;
    background-color: #F3DFC2;/* <-- */
}
body {

}
#botondonar{
     appearance:none;
    -webkit-appearance:none;
    background-color:transparent;
    border:none;
    outline:none;
    background-repeat:no-repeat;
    cursor:pointer;
}
.botondonar:hover {
  background-color: #4CAF50;
      padding: 5px 5px;

  color: white;
}
#donarlinks {
     appearance:none;
}
/*--------------------------------------------*/
#metas{
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    width: 60%;
    margin: auto;
}

#metasImg{
    width: 20%;
    overflow: hidden;
    padding: 0% 5%;
}

/*--------------------------------------------*/
#DescripcionHistoria{
    font-family: monospace;
    font-weight:bold; 
    color: #644400;
    width: 60%;
    text-align:center;
    margin: auto;
    font-size: 15px;
}
/*--------------------------------------------*/
#gameplay{
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    width: 60%;
    margin: auto;
}

/*--------------------------------------------*/
#artWork{
    font-family: monospace;
    font-size: 15px;
    text-align: left;
}

/*--------------------------------------------*/
#bandaSonora{
    font-family: monospace;
    font-size: 15px;
    width: 60%;
    margin: auto;
}
audio {
    display: block;
    position: relative;
}
/*--------------------------------------------*/
#equipo{
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    width: 60%;
    margin: auto;
}

/*--------------------------------------------*/
#demo{
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    width: 60%;
    margin: auto;
}

/*--------------------------------------------*/

#footerPP{
    font-family: monospace;
    font-weight:bold;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color:white;
    padding: 5% 5%;
}

/*--------------------------------------------*/


li input {
    padding: 20px 25px;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    text-decoration: none;
    background-color:#535353;
    color: #ffffff;
}

.searchinput::placeholder { 
    color: white;
    opacity: 1; 
  }
  
.searchinput:-ms-input-placeholder { 
    color: white;
  }
  
.searchinput::-ms-input-placeholder { 
    color: white;
  }

#botonBusqueda
{
    margin-left:50px;
}

